<nav class="navbar navbar-expand-lg bg-primary bg-gradient fixed-top border-bottom border-5 border-secondary shadow" data-bs-theme="dark">
  <div class="container-fluid">
    <span class="navbar-brand fw-bold"><fa-icon [icon]="group"></fa-icon>&nbsp;TeamBuilder</span>

    <button class="navbar-toggler"
            type="button"
            aria-controls="navbarContent"
            [attr.aria-expanded]="!collapsed"
            aria-label="Toggle navigation"
            (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
          <a class="nav-link" tabindex="0" ngbDropdownToggle role="button">
            <fa-icon [icon]="language"></fa-icon>
            <span i18n="Select language menu in menu bar|@@tb.select-lang">&nbsp;Sprachauswahl</span>
          </a>

          <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">🇩🇪&nbsp;Deutsch</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">🇬🇧&nbsp;English</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<main class="container-fluid">
  <div class="row mb-4">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="card shadow">
        <div class="card-body">
          <h3 class="card-title fs-3">
            <fa-icon [icon]="group"></fa-icon>&nbsp;TeamBuilder
          </h3>

          <p class="lead" i18n="Slogan for TeamBuilder|@@tb.slogan">Einfach Teams erstellen</p>

          <p class="" i18n="What is TeamBuilder|@@tb.what-is">
            Mit TeamBuilder wird das Erstellen von Paaren oder kleinen Teams super
            einfach! Gib einfach die Namen ein und wähle, wie viele Teams du
            brauchst – und schon kann’s losgehen.
          </p>

          <p class="" i18n="What is a driver|@@tb.what-is-a-driver">
            Willst du nach dem Driver-Navigator-Prinzip arbeiten? Kein Problem!
            Schalte einfach den „Driver“-Modus ein, und TeamBuilder sorgt dafür, dass
            jedes Team einen „Driver“ hat.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row gy-4">
    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <app-person-list></app-person-list>
    </div>

    <div class="col-12 col-sm-6 col-md-6 col-lg-8">
      <app-teams-start></app-teams-start>
    </div>
  </div>
</main>

<footer class="bg-body-tertiary p-3 fixed-bottom d-flex justify-content-end">
  <span class="ms-auto" i18n="Made with love claim in footer|@@tb.footer-text">
    Mit 🩶 gemacht von Ray.
  </span>
</footer>
