<div class="row">
  <div class="col"><h2 class="mb-3">Personen</h2></div>
</div>


@if ((persons$ | async)?.length === 0) {
  <div class="row">
    <div class="col">
      <div class="card shadow-sm mb-3">
        <h3 class="card-header">Noch niemand da!</h3>
        <div class="card-body">
          <p class="card-text">Du hast noch keine Personen erfasst. Klicke auf „Hinzufügen“, um deine erste Person zu erfassen.</p>

          <button type="button"
                  class="btn btn-primary"
                  (click)="onAddPerson()">
            Hinzufügen
          </button>
        </div>
      </div>
    </div>
  </div>
}

@if ((persons$ | async)?.length !== 0) {
  <div class="row mb-4">
    <div class="col">
      <button type="button"
              class="btn btn-outline-primary"
              (click)="onAddPerson()">
        Hinzufügen
      </button>
    </div>
  </div>
}

<div class="row">
  <div class="col">
    <ul class="list-group">
      @for (person of persons$ | async; track person) {
        @if (personToEdit?.id === person.id) {
          <li class="list-group-item">
            <app-person-form [person]="personToEdit!"
                             (cancelled)="onCancel()"
                             (submitted)="onSubmitted($event)">
            </app-person-form>
          </li>
        } @else {
          <li class="list-group-item">
            <app-person-view [person]="person"
                             (rename)="onRename($event)"
                             (delete)="onDelete($event)">
            </app-person-view>
          </li>
        }
      }

      @if (isAdding) {
        <li class="list-group-item">
          <app-person-form [person]="newPerson!"
                           (cancelled)="onCancel()"
                           (submitted)="onSubmitted($event)">
          </app-person-form>
        </li>
      }
    </ul>
  </div>
</div>
