<form class="was-validated" (ngSubmit)="onSubmit()">
  <div class="row ">
    <div class="col">
      <label for="nameInput" class="visually-hidden">Name</label>
      <input type="text" class="form-control"
             id="nameInput"
             placeholder="Name"
             name="name"
             required
             appAutofocus
             [(ngModel)]="personToEdit.name">

      <div class="invalid-feedback">
        Bitte gib einen Namen an.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-end align-items-start">
      <button type="submit" class="btn btn-primary me-2">Speichern</button>
      <button type="button" class="btn btn-outline-secondary ">Abbrechen</button>
    </div>
  </div>
</form>
