<div class="d-flex justify-content-between py-1 align-items-center">
  <div class="">
    <span class="fw-bolder">{{ person().name }}</span>
  </div>
  <div>
    <button type="button"
            class="btn btn-sm btn-outline-secondary me-2"
            placement="bottom"
            ngbTooltip="Namen ändern"
            (click)="onRename()">
      <span class="visually-hidden">Namen ändern</span>
      <fa-icon [icon]="pen"></fa-icon>
    </button>
    <button type="button"
            class="btn btn-sm btn-outline-danger"
            placement="bottom"
            ngbTooltip="Entfernen"
            (click)="onDelete()">
      <span class="visually-hidden">Entfernen</span>
      <fa-icon [icon]="trash"></fa-icon>
    </button>
  </div>
</div>
