<div class="d-flex justify-content-between py-1 align-items-center">
  <div class="">
    <span class="fw-bolder">{{ person().name }}</span>
  </div>
  <div>
    <button type="button"
            class="btn btn-sm btn-outline-secondary me-2"
            placement="bottom"
            ngbTooltip="Namen ändern"
            (click)="onRename()"
            i18n-ngbTooltip="Tooltip / button caption for edit name button|@@tb.edit-name">
      <span class="visually-hidden" i18n="@@tb.edit-name">Namen ändern</span>
      <fa-icon [icon]="pen"></fa-icon>
    </button>
    <button type="button"
            class="btn btn-sm btn-outline-danger"
            placement="bottom"
            ngbTooltip="Entfernen"
            (click)="onDelete()"
            i18n-ngbTooltip="Tooltip / button caption for delete button|@@tb.delete">
      <span class="visually-hidden" i18n="Tooltip / button caption for delete button|@@tb.delete">Entfernen</span>
      <fa-icon [icon]="trash"></fa-icon>
    </button>
  </div>
</div>
