<form (ngSubmit)="buildTeams()">
  <div class="row">
    <div class="col">
      <label for="countInput" class="form-label">Anzahl an Teams</label>
      <input type="number"
             id="countInput"
             class="form-control"
             placeholder="Anzahl an Teams"
             required
             min="1"
             [max]="(persons$ | async)!.length"
             [disabled]="(persons$ | async)?.length === 0"
             name="teamCount"
             [(ngModel)]="teamCount">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-check form-switch mt-2">
        <input type="checkbox"
               id="markDriverInput"
               class="form-check-input"
               name="markDriver"
               [(ngModel)]="markDriver">
        <label for="markDriverInput" class="form-check-label">Bestimme einen „Driver“</label>
      </div>
      <p class="small text-muted">
        Das Teammitglied mit der „Driver“-Rolle übernimmt die Tastatur und teilt
        ggf. den Bildschirm. Alle anderen Mitglieder übernehmen die „Navigator“-Rolle
        und leiten den „Driver“ an.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary">Bilde die Teams</button>
    </div>
  </div>
</form>
